/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}
 
* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding: 0 1em; */
}

header{
    padding: 0.1em;
    align-items: center;
    border-bottom: 0.1em;
    border-color: black;
    border-style: groove;
    background-color: #f3f3f3;
}

h1 {
    text-align: center;
    font-weight: bold;
    padding: 0.7em;
    font-size: 3rem;
}

h2 {
    text-align: center;
    padding: 0.7em;
}

header li {
    padding-left: 0.4em;
}

header a{
    text-decoration: none;
    color: black;
}

main {
    display: grid;
}

section {
    padding-bottom: 4em;
}

.intro {
    padding: 0 1em;
}
.intro h1, .intro p{
    text-align: center;
}
.intro h1{
    padding-bottom: 0.2em;
    padding-top: 1em;
}
.intro div {
    display: flex;
    justify-content: flex-start;
}
.intro form {
    padding: 1.5em;
    padding-bottom: 0;
}
.intro img {
    padding: 1em;
}
.intro .video{
    width: 100%;
    display: flex;
    justify-content: center;
}

video {
    width: 100%;
    padding-top: 2em;
}

#about-comp {
    display: none;
}

#new-in {
    padding: 3em 2em;
    text-align: center;
}

#category {
    text-align: center;
    padding-bottom: 6em;
}

footer {
    background-color: #222;
    margin: 0;
}
footer ul{
    display: flex;
    justify-content: space-around;
    padding: 4em 0;
}

.fa {
    color: rgb(196, 51, 7);
}

img {
    width: 100%;
    transition: transform .2s;
}

figure {
    padding-bottom: 1em;
}

li {
    list-style: none;
}

.product:hover {
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

a:hover {
    color: red;
    cursor: pointer;
}

#logo {
    width: 70px;
    height: 70px;
}

#logo img{
    width: 100%;
}
/* CATALOGUE */

.catalogue figure{
    padding: 1em 1em;
}

.catalogue figcaption{
    text-align: center;
}

.cat-head {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 0;
    font-weight: bolder;
}

/* SELECTION  */

#selection {
    text-align: center;
}

#selection h1, #selection h3, #selection p {
    padding-bottom: 0.2em;
}

#selection h2 {
    padding-top: 1.2em;
    padding-bottom: 0.5em;
}

#selection ul {
    display: flex;
    justify-content: space-around;
}

#selection li {
    border-width: 0.1em;
    border-color: black;
    border-style: groove;
    padding: 0.3em;
}

#selection li:hover {
    border-color: red;
    color: red;
}

/* ABOUT PAGE  */
#challenge h1 {
    padding-bottom: 0;
    padding-top: 2em;
    margin: 0;
}
.chal {
    padding: 0.7em;
}
.chal ul{
    list-style: circle;
    padding-left: 3em;
}
.chal li{
    list-style: circle;
}



/* FIRST MEDIA QUEREY */
@media screen and (min-width: 42rem) {
    header {
        display: flex;
        justify-content: space-between;
        height: 5em;
    }

    header ul {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
        padding-left: 6em;
        margin-bottom: 0;
    }

    main {
        padding: 0.5em 2em;
    }

    #new-in {
        padding-left: 5em;
        padding-right: 5em;
        overflow-x: auto;
    }
    #new-in div {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
    }
    #new-in div figure {
        width: 33em;
        padding: 0 2em;
    }
    #new-in div figure img {
        width: 30em;
    }    

    .intro div {
        justify-content: center;
    }
    .intro p {
        padding: 0 5em;
    }

    figcaption {
        display: flex;
        justify-content: space-between;
        padding: 0.5em 0.3em 0 0;
    }

    video {
        width: 80%;
        padding-top: 2em;
    }
    .video {
        padding-bottom: 2em;
    }

    /* CATALOGUE PAGES */
    .catalogue {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }
    .catalogue figure{
        width: 46%;
        padding: 2em 0.5em;
        align-items: center;
    }
    .catalogue img {
        width: 100%;
        height: auto;
    }

    #right-div {
        padding-top: 4em;
    }

    #right-div h1, #right-div h3, #right-div p {
        padding-bottom: 0.6em;
    }

    #right-div h2 {
        margin-top: 4em;
    }

    #right-div ul {
        justify-content: center;
    }

    #right-div li {
        margin: 0.6em 1.6em;
    }

    /* ABOUT PAGE  */
    #about-mob {
        display: none;
    }

    #about-comp {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #about-comp img {
        width: 33%;
    }

    .chal {
        padding: 0.7em;
    }
    .chal div {
        padding-top: 1em;
    }
    .chal h2 {
        text-align: start;
        padding: 0 0 0.7em 0;
        text-decoration: underline;
    }
    .chal h3 p {
        padding-left: 1em;
    }

    #testimonies {
        width: 70%;
        margin: auto;
    }
}


@media screen and (min-width: 62rem) {
    #banner-img {
        padding: 1em 2em;
    }

    .catalogue figure{
        width: 30%;
        padding: 4em 4em;
        align-items: center;
    }

    #category {
        display: flex;
        justify-content: space-between;
        padding: 6em 7em 6em 7em;
    }
    #category div {
        width: 48%;
    }

    /* SELECTION PAGES */

    #selection {
        display: flex;
        justify-content: space-around;
    }

    #selection div {
        width: 48%;
    }
    
    #about-comp {
        padding-left: 5em;
        padding-right: 5em;
    }

    #challenge h1{
        padding-bottom: 0.5em;
    }
    .chal {
        display: flex;
        justify-content: space-evenly;
    }
    .chal div {
        width: 35%;
        padding-top: 4em;
    }
    .chal img {
        width: 35%;
        height: min-content;
        align-self: center;
    }

    #testimonies {
        width: 45%;
        margin: auto;
    }
}

